parameters:
    level: 4
    paths:
        - ./
    excludes_analyse:
        - %rootDir%/../../../vendor/*
        - %rootDir%/../../../tests/*
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    ignoreErrors:
        - '#Strict comparison using === between .+ and null will always evaluate to false\.#'
        - '#Strict comparison using === between string\|false and 1 will always evaluate to false\.#'
        - '#Strict comparison using === between string and false will always evaluate to false\.#'
        # Defensive coding, can't validate with php type-hints since argument can be multiple types
        -
            message: '#If condition is always false\.#'
            path: %currentWorkingDirectory%/src/Zend/Validate/File/Size.php
        -
            message: '#Result of && is always false\.#'
            path: %currentWorkingDirectory%/src/Zend/Validate/File/Size.php
        # This seems like a possible bug?  Does look like _messages never gets updated
        -
            message: '#Comparison operation ">" between 0 and 0 is always false\.#'
            path: './src/Zend/Validate/File/Upload.php'
